/* @font-face {
    font-family: 'Italianno';
    src: url('Italianno-Regular.woff2') format("woff2");
} */

@font-face {
    font-family: 'Garamond';
    src: url('EBGaramond-Regular.woff2') format("woff2");
}

@font-face {
    font-family: 'Garamond';
    font-weight: bold;
    src: url('EBGaramond-Bold.woff2') format("woff2");
}

body {
    background: linear-gradient(#c9e8ff, 50%, #fff);
    font-family: 'Garamond', 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 0;
}

main {
    margin: 0 auto;
    max-width: 1024px;
    padding-bottom: 30px;
}

main h1 {
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Garamond', 'Times New Roman', Times, serif;
}

/* workaround for not-universally-working size-adjust for font-face */
/* h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.76em;
}

h4 {
    font-size: 1.5em;
} */

main > img {
    display: block;
    width: 50%;
    margin: 30px auto 0;
}

nav {
    position: sticky;
    top: 0;
    background-color: #c9e8ff;
    /* box-shadow: 0px 0px 25px 10px #C9E8FF; */
    box-shadow: 10px 0px 25px 10px rgb(201 232 255 / 50%);
    margin: 0 -20px 0 -20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
    margin: 0;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    display: inline-block;
    background-color: #c9e8ff;
    padding: 20px;
    box-shadow: 0px 0px 25px 10px rgb(201 232 255 / 50%);
}

iframe, #map {
    width: 100%;
    height: 30vw;
    border: none;
    margin: 30px 0;
}

.card .card-body {
    font-family: 'Garamond', 'Times New Roman', Times, serif;
}

#map .card {
    padding: 12px;
}

.card h3 {
    margin: 0 0 6px 0;
}

@media screen and (max-width: 700px) {
    main > img {
        margin-top: 10px;
    }

    iframe, #map {
        height: 250px;
    }
}